.bad{

  background-color: #FF0000;
  color: #000000;
  font-weight: bold;
  width: 95%;
  height: 99%;
}

.bad-demographic-sum{
  color: #FF0000;
  font-weight: bold;
  height: 99%;
  margin: 2px;
  padding-top: 0px;
}

.warn{
  background-color: #E4E44A;
  color: #000000;
  font-weight: bold;
  width: 95%;
  height: 99%;
}

.good{
  background-color: #52C552;
  color: #000000;
  font-weight: bold;
  width: 95%;
  height: 99%;
}
.normal{
  background-color: #509fc5;
  color: #000000;
  font-weight: bold;
  width: 95%;
  height: 99%;
}
.good span, .warn span, .bad span, .normal span{
  padding: 6px;
}

.cell-input > .text-label{
  padding: 3px;
  font-size: 0.9em;
}


#ivd-print-view .center {
  text-align: center !important;
}

#ivd-print-view .table th {

  text-align: center !important;
  /*border-bottom:1px solid;*/

}
#ivd-print-view .table th {
  font-size: 11px !important;
  background-color: #ECECEC;
  -webkit-print-color-adjust: exact;
}
.summary-text {
  border: solid 1px #4C4C4C;
  height: 78px;
}

#ivd-tbl-identification{
  border-bottom:0px;
}

#ivd-tbl-identification .flat-td{
  border-left:0px;
}

#ivd-tbl-identification>tbody>tr:last-child > td {
  border-bottom: 1px solid #ddd;
}

#ivd-tbl-vaccination .shady-header{
  background-color: #B6B7BB;;
}

#ivd-tbl-imunization-session{
  margin-top:35px;
}
