.bad, td.bad{
  color: #d03913;
  font-weight: bold;
  background-color: #f2dede;
}

.warn, td.warn{
  background-color: #fcf8e3;
  color: #3852d0;
  font-weight: bold;
}

.good, td.good{
  color: #3b9225;
  background-color: #dff0d8;
  font-weight: bold;
}

.cell-input > .text-label{
  padding: 3px;
  font-size: 0.9em;
}


#ivd-print-view .center {
  text-align: center !important;
}

#ivd-print-view .table th, #ivd-print-view table td {

  text-align: center !important;
  /*border-bottom:1px solid;*/

}
#ivd-print-view .table th {
  font-size: 11px !important;
  background-color: #ECECEC;
  -webkit-print-color-adjust: exact;
}
.summary-text {
  border: solid 1px #4C4C4C;
  height: 78px;
}

#ivd-tbl-identification{
  border-bottom:0px;
}

#ivd-tbl-identification .flat-td{
  border-left:0px;
}

#ivd-tbl-identification>tbody>tr:last-child > td {
  border-bottom: 1px solid #ddd;
}

#ivd-tbl-vaccination .shady-header{
  background-color: #B6B7BB;;
}

#ivd-tbl-imunization-session{
  margin-top:35px;
}