<div id="tab">

    <ul class="nav nav-pills">
        <li class="active" ng-show="false">
                        <a href="#summary" data-toggle="tab" ></a>
        </li>
        <li class="active" ng-show="false">
            <a href="#otherTabs" data-toggle="tab"></a>
        </li>
    </ul>

    <div class="tab-content clearfix">

        <div class="tab-pane active" id="summary">
<!--
            Starting the dashlets by only adding rows and card
-->
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">

                        Add Dashlet

                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="section grey lighten-5 card">
                        <span>{{data}}</span>

                    </div>

                </div>

            </div>




        </div>

    </div>

</div>