
<div xmlns="http://www.w3.org/1999/html">
    <h2><span openlmis-message="label.cold.chain.resignation.list"></span>
        <a href="#/create-designation" class="pull-right btn btn-primary"><span id="resignation-add-new"
                                                                                       openlmis-message="button.add.new"></span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="id">
        <span ng-bind="message"></span>
    </div>

    <div class="alert alert-error" id="equipmentSaveFailMessage" openlmis-message="equipmentErrorMessage"
         ng-show="equipmentError">

    </div>
    <input id="txtFilterDonors" class="search-query input-xlarge" type="text" ng-model="query"
           placeholder="Enter Designation Name"/>

    <div class="clearfix"></div>
    <br>

    <div>
        <h3 ng-show="query.length>0">
            <ng-pluralize count="resultCount"
                          when="{ 0: 'No matches found for \'{{query}}\'',
                        1: '1 match found for \'{{query}}\'',
                        other: '{} matches found for \'{{query}}\''}">
            </ng-pluralize>
        </h3>

        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th class="col-row-number">#</th>
                <th><span openlmis-message="label.name"></span></th>
                <th><span openlmis-message="label.designation.hasEnergy"></span></th>
                <th><span openlmis-message="label.designation.refrigerator"></span></th>
                <th><span openlmis-message="label.designation.freezer"></span></th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="status in designations | filter : query">
                <td>{{$index + 1}}</td>
                <td><a href="" ng-click="editDesignation(status.id)">{{status.name}}</a></td>
                <td>
                    <div>{{status.hasEnergy}}</div>
                </td>
                <td>{{status.refrigerator}}</td>
                <td>
                    <div>{{status.freezer}}</div>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</div>