*.log*
.idea/
*.iml
*.ipr
*.iws
open-lmis.ids
build/
out/
classes
.gradle
*.DS_Store
*.class
modules/openlmis-web/src/main/webapp/public/css/
test-modules/functional-tests/src/main/resources/**/*.png
build.gradle.swp
node_modules/
modules/openlmis-web/src/test/coverage/
local-ftp-data/
*.jasper
*.jar
*.xlsx
modules/openlmis-web/src/main/webapp/public/odk-collect-submissions/*
.gitignore.swp
git
gradle/
gradlew
gradlew.bat
modules/export/src/main/resources/generated/
atlassian-ide-plugin.xml
/shipment/
.sonar/
docker/Dockerfile
local-buget-ftp-data/
modules/.sonar/
modules/core/.sonar/
modules/core/src/main/.sonar/
modules/db/.sonar/
modules/db/src/main/.sonar/
modules/demographics/.sonar/
modules/demographics/src/main/.sonar/
modules/equipment/src/main/.sonar/
modules/help/src/main/.sonar/
modules/help/src/test/.sonar/
modules/ivd-form/.sonar/
modules/ivd-form/src/main/.sonar/
modules/lookup-api/.sonar/
modules/lookup-api/src/main/.sonar/
modules/lookup-api/src/test/.sonar/
modules/migration/.sonar/
modules/migration/src/main/.sonar/
modules/openlmis-web/.sonar/
modules/openlmis-web/local-buget-ftp-data/
modules/openlmis-web/shipment/
modules/openlmis-web/src/main/.sonar/
modules/openlmis-web/src/main/webapp/public/lib/angular-daterange/
modules/openlmis-web/src/test/.sonar/
modules/openlmis-web/src/test/karma/
modules/report/.sonar/
modules/report/src/main/.sonar/
modules/report/src/main/resources/org/
modules/requisition/.sonar/
modules/rest-api/.sonar/
modules/rest-api/src/test/.sonar/
modules/shipment/.sonar/
modules/shipment/src/main/.sonar/
modules/stock-management/src/main/.sonar/
modules/vaccine/.sonar/
modules/vaccine/src/main/.sonar/
sshipment/
test-modules/service-tests/
