<style>
    .tree {
        height: 300px !important;
        overflow-y: scroll;
    }

    ​

</style>


<div class="container">

    <h2 id="podPageTitle"><span></span></h2>

    <div class="row">
        <div class="col-sm-3">

            <div class="tree">
                <span id="tree"></span>

            </div>

        </div>

        <div class="col-sm-9">
            <div class="alert alert-info">
                <strong>Info!</strong>
                Click On Your Left to Visualize SuperVised Store
            </div>
        </div>
    </div>
</div>