<div class="alert alert-info" ng-show="!hasStock" openlmis-message="message.stock.initialize"></div>
<table  class="table table-bordered receive">
    <thead>
    <tr class="gradient-header">
        <th  style="width:250px !important;max-width:250px !important" class="col-product " openlmis-message="label.products"></th>
        <th style="width:300px !important;max-width:300px !important" class="col-lot"><span openlmis-message="label.stock.batch"></span></th>
        <th style="width:150px !important;max-width:150px !important" class="col-vvm-status"><span openlmis-message="label.stock.vvm"></span></th>
        <th class="col-quantity" style="width:200px !important;max-width:200px !important"><span openlmis-message="label.stock.quantity"></span></th>
        <th style="width:150px !important;max-width:150px !important" class="col-add-lot"><span openlmis-message="label.stock.add.lot"></span></th>
        <th class="col-add-product"><span openlmis-message="label.stock.add.product"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr style="border-bottom:2px solid #333" ng-form="productToAddForm">
        <td rowspan="{{productToAdd.lots.length +2 }}" class="col-product cell-input row-add ">
            <select style="width:90% !important;" ui-select2
                    ng-change="loadProductLots(productToAdd.product)"
                    ng-disabled="productToAdd.lots.length >0" ng-model="productToAdd.product"
                    ng-options="obj.programProduct.product  as obj.programProduct.product.primaryName group by obj.programProduct.productCategory.name for obj in productsToDisplay">
                <option value="" openlmis-message="placeholder.select.product"></option>
            </select>
        </td>
        <td class="col-lot cell-input cell-text row-add">
                            <span ng-if="productToAdd.lots.length >0 && productToAdd.batchTracked"
                                  ng-bind="productToAdd.lots[0].lot.lotCode"></span>
        </td>

        <td class="col-count cell-input col-general row-add"
            ng-class="{'skip':(productToAdd.lots.length >0 && !productToAdd.vvmTracked)}">
                            <span ng-if="productToAdd.lots.length >0 && productToAdd.vvmTracked"
                                  ng-bind="productToAdd.lots[0].vvmStatus"></span>
        </td>
        <td class="col-count cell-input col-general row-add">
            <input ng-required="true" ng-if="productToAdd.lots.length >0"
                   min="{{getPresentation(productToAdd.product)}}" type="number"
                   ng-model="productToAdd.lots[0].quantity"
                   divisible-by-presentation="{{getPresentation(productToAdd.product)}}"/>
        </td>
        <td class="row-add">
            <a ng-if="productToAdd.lots.length >0" href="" class="close"
               ng-click="removeProductLot(productToAdd.lots[0])">&times;</a>
        </td>

        <td class="cell-input row-add" rowspan="{{productToAdd.lots.length +2 }}">
            <input type="submit"
                   ng-disabled=" productToAddForm.$invalid || productToAdd.product===undefined || (productToAdd.batchTracked && productToAdd.lots.length ===0 )"
                   class="btn btn-primary" ng-click="addProduct(productToAdd)" value="Add Product"/>
        </td>
    </tr>

    <tr ng-repeat="lot in productToAdd.lots" ng-show="!$first">
        <td class="col-lot  cell-input cell-text row-add">
            <span ng-bind="lot.lot.lotCode"></span>
        </td>
        <td class="col-count cell-input col-general row-add"
            ng-class="{'skip':(productToAdd.lots.length >0 && !productToAdd.vvmTracked)}">
            <span ng-bind="lot.vvmStatus"></span>
        </td>
        <td class="col-count cell-input col-general row-add">
            <input ng-required="true" min="{{getPresentation(productToAdd.product)}}" type="number"
                   ng-model="lot.quantity"
                   divisible-by-presentation="{{getPresentation(productToAdd.product)}}"/>
        </td>
        <td class="row-add">
            <a ng-if="lot" href="" class="close" ng-click="removeProductLot(lot)">&times;</a>
        </td>
    </tr>

    <!--Add new Row-->
    <tr ng-if="productToAdd.product !==undefined && productToAdd.product !==null"
        ng-form="lotToAddForm">
        <td  class="col-lot  cell-input cell-text last-row row-add-batch ">
            <div class="row-fluid" ng-if="productToAdd.batchTracked===true">
                <div ng-show="hasPermission('CREATE_LOT')" style="width:20%; float:left;margin-top:1px">
                    <input type="button" ng-disabled="lotToAdd.lot !== undefined " class="btn btn-primary btn-small" href ng-click="showNewLotModal(productToAdd)" openlmis-message="button.create" />
                </div>
                <div style="width:80%; float:left">
                    <select ng-show="productToAdd.batchTracked" name="lotToAdd" ui-select2
                            ng-required="productToAdd.batchTracked===true" style="min-width:200px !important"
                            ng-model="lotToAdd.lot"
                            ng-options="lot as lot.lotCode for lot in lotsToDisplay track by lot.lotCode">
                        <option value="" openlmis-message="placeholder.select.batch"></option>
                    </select>
                </div>

            </div>
        </td>
        <td class="col-count cell-input col-general last-row row-add-batch">
            <select ng-if="productToAdd.vvmTracked" ng-required="productToAdd.vvmTracked" ui-select2
                    style="max-width:130px !important;min-width:130px !important"
                    ng-options="i.value as i.name for i in vvmStatuses" name="vvmToAdd"
                    ng-model="lotToAdd.vvmStatus">
                <option value="" openlmis-message="placeholder.select.vvmstatus"></option>
            </select>
        </td>
        <td class="col-count cell-input col-general last-row row-add-batch">
            <input ng-if="productToAdd.batchTracked===true" min="{{getPresentation(productToAdd.product)}}"
                   ng-required="true" name="quantityToAdd"
                   ng-model="lotToAdd.quantity" maxlength="9" type="number"
                   divisible-by-presentation="{{getPresentation(productToAdd.product)}}"/>
            <input ng-required="true" name="productToAddQuantity" type="number"
                   min="{{getPresentation(productToAdd.product)}}"
                   ng-if="(productToAdd.product !==undefined || productToAdd.product ===null ) && (productToAdd.batchTracked===false || productToAdd.batchTracked===null)"
                   ng-model="productToAdd.quantity" maxlength="9"
                   divisible-by-presentation="{{getPresentation(productToAdd.product)}}"/>
        </td>

        <td ng-if="productToAdd.batchTracked===true" class="last-row row-add-batch-last">
            <input type="submit" ng-show="productToAdd.batchTracked===true"
                   ng-disabled="lotToAddForm.$invalid" class="btn btn-primary"
                   ng-click="addLot(lotToAdd)" value="Add Batch"/>
        </td>
        <td ng-if="productToAdd.batchTracked===false" colspan="4" class="row-add skip">&nbsp;</td>
    </tr>

    </tbody>
</table>

<div class="rnr-table">
    <table ng-show="receivedProducts.length>0" ng-form="openReceiveForm" id="podTable2" class="table table-bordered" fixed-table-header>
        <thead>
        <tr>
            <th class="col-product " openlmis-message="label.products"></th>
            <th class="col-quantity" style="max-width:160px !important" openlmis-message="label.stock.total.quantity"></th>
            <th class="col-lot"><span openlmis-message="label.stock.batch"></span></th>
            <th class="col-vvm-status"><span openlmis-message="label.stock.vvm"></span></th>
            <th class="col-quantity" style="max-width:160px !important"><span openlmis-message="label.stock.quantity"></span></th>
            <th class="col-add-lot"><span openlmis-message="label.stock.add.lot"></span></th>
            <th class="col-add-product"><span openlmis-message="label.stock.add.product"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="product in receivedProducts" style="border-bottom:2px solid #333" ng-form="receivingForm2"
            ng-class-odd="'odd'" ng-class-even="'even'" ng-init="$index%2==0?(color='odd'): (color='even')">
            <td rowspan="{{product.lots.length}}" class="col-product cell-input last-row disabled">
                <span class="cell-text" ng-bind="product.product.primaryName"></span>
            </td>
            <td rowspan="{{product.lots.length}}" class="col-product cell-input last-row disabled">
                <span class="cell-text" ng-if="product.batchTracked" >{{sumLots(product)}}</span>
                <span class="cell-text" ng-if="!product.batchTracked" ng-bind="product.quantity"></span>
            </td>
            <td  class="col-lot cell-input cell-text disabled" ng-class="{'last-row':product.lots.length === 1, 'skip':!product.batchTracked}">
                            <span ng-if="product.batchTracked" class="cell-text" ng-if="product.lots.length > 0"
                                  ng-bind="product.lots[0].lot.lotCode"></span>
                <span ng-if="!product.batchTracked">&nbsp;</span>
            </td>
            <td class="col-count cell-input cell-text col-general disabled" ng-class="{'last-row':product.lots.length===1, 'skip':!product.vvmTracked}">
                <span class="cell-text" ng-if="product.vvmTracked"  ng-bind="product.lots[0].vvmStatus"></span>
            </td>
            <td  class="col-count cell-input col-general" ng-class="{'last-row':product.lots.length <=1}">
                <input ng-if="product.batchTracked" ng-required="product.lots.length > 0" ng-if="product.lots.length > 0"
                       name="batchQuantity_{{$index}}_0" ng-model="product.lots[0].quantity" min="1"
                       divisible-by-presentation="{{getPresentation(product)}}"
                       type="number"/>
                <input ng-required="!product.batchTracked" name="quantity_{{$index}}"
                       ng-if="!product.batchTracked" type="number" min="1" ng-model="product.quantity"
                       mdivisible-by-presentation="{{getPresentation(product)}}">
            </td>
            <td class="disabled"  ng-class="{'last-row':product.lots.length===1}">
                <a ng-if="product.batchTracked" ng-if="product.lots[0]" href="" class="close"
                   ng-click="removeReceivedLot(product,product.lots[0])">&times;</a>

            </td>
            <td  class="last-row cell-input disabled" rowspan="{{product.lots.length}}">
                <a class="close" ng-click="removeProduct(product)">&times;</a>
            </td>
        </tr>
        <tr ng-repeat-end ng-repeat="lot in product.lots" ng-show="!$first" ng-class="color">
            <td ng-if="product.batchTracked" ng-class="{'last-row':$last}"
                class="col-lot  cell-input cell-text disabled">
                <span class="cell-text" ng-bind="lot.lot.lotCode"></span>
            </td>
            <td  ng-class="{'last-row':$last}" class="col-count cell-input cell-text col-general disabled">
                <span class="cell-text" ng-if="product.batchTracked && product.vvmTracked" ng-bind="lot.vvmStatus"></span>
                <span ng-if="product.batchTracked && !product.vvmTracked " class="skip">&nbsp;</span>
            </td>
            <td ng-if="product.batchTracked" ng-class="{'last-row':$last}"
                class="col-count cell-input col-general ">
                <input name="batchQuantity_{{$parent.$index}}_{{$index}}" ng-required="product.batchTracked"
                       ng-model="lot.quantity" min="1" type="number"
                       divisible-by-presentation="{{getPresentation(product)}}"/>
            </td>
            <td ng-if="product.batchTracked" ng-class="{'last-row':$last}" class="disabled">
                <a ng-if="lot" class="close" ng-click="removeReceivedLot(product,lot)">&times;</a>
            </td>
        </tr>
        </form>

        </tbody>
    </table>
</div>


<!--Lot Modal-->
<div id="popup-box" ng-form="newLotForm" modal="newLotModal" options="{'backdrop':'static', 'escape':false}" style="width:60% !important;margin-left:-30% !important">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span4">
                <h3 openlmis-message="header.vaccine.stock.create.lot"></h3>&nbsp;&nbsp;
            </div>
            <div class="span4">
                <h3><span openlmis-message="label.product"></span>:{{newLot.product.primaryName}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid ">
            <div class="span3">
                <label id="newLotLotCodeLabel" for="newLot.lotCode">
                    <span openlmis-message="label.batchId "></span>
                    <span class="label-required">*</span>
                </label>
                                <span class="position-relative">
                                    <input  ng-required="true" class="span12" type="text" ng-model="newLot.lotCode" value="" id="newLot.lotCode" />
                                </span>
            </div>

            <div class="span3">
                <label id="newLotExpirationDateLabel" for="newLot.expirationDate">
                    <span openlmis-message="label.expiryDate"></span>
                    <span class="label-required">*</span>
                </label>
                                <span class="position-relative">
                                <input ng-required="true" class="span12" ng-required="true" id="newLot.expirationDate" name="expirationDate" type="text"
                                       ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, minDate:'today + 1'}"
                                       ng-model="newLot.expirationDate"/>
                                </span>
            </div>
            <div class="span3">
                <label id="newLotManufacturerLabel" for="newLot.manufacturerName">
                    <span openlmis-message="label.manufacturer"></span>
                    <span class="label-required">*</span>
                </label>
                <span class="position-relative">
                    <select style="width:90% !important;" ui-select2 ng-required="true" class="span12"
                            ng-model="newLot.manufacturerName" id="newLot.manufacturerName"
                            ng-options="manufacturer.name as manufacturer.name for manufacturer in manufacturers">
                        <option value="" openlmis-message="placeholder.select.manufacturer"></option>
                    </select>
                </span>
            </div>
            <div class="span3">
                <label id="newLotManufactureDateLabel" for="newLot.manufactureDate">
                    <span openlmis-message="label.manufacture.date "></span>
                </label>
                                <span class="position-relative">
                                <input class="span12"  id="newLot.manufactureDate" name="newLot.manufactureDate" type="text"
                                       ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"
                                       ng-model="newLot.manufactureDate"/>
                                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" id="issueSubmit" class="btn btn-primary save-button"
               ng-click="createLot()"
               ng-disabled="newLotForm.$invalid"
               openlmis-message="button.create"/>
        <input type="button" ng-click="closeNewLotModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>

</div>

<!--Lot Modal Ends-->