<div>

    <div class="row">
        <div class="col l8 s8 m12">
            <!--<p class="z-depth-1">{{facilityPerformance}}
            </p>-->



            <div class="card">
                <div class="card-content">
                    <!--
                                        <h5 class="grey-text center">Pie Chart</h5>
                    -->
                    <div id="container5" ></div>
<!--
                    <div id="container5" style="height:400px;width:600px;margin:1.5em 1em;"></div>
-->

                </div>
            </div>


        </div>

        <div class="col l4 s4 m12">

            <div class="card-panel grey lighten-4 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col l3 s3 m12"  style="background-color: red">

                        <div class="icon-block">
                             <span class="black-text">
                           <span style="font-size: 40px">{{facilityPerformance[0].stockedout}} %</span>
                             <p class="light">Of Facilities Stocked Out</p>
                          </span>

                        </div>



                       <!--  <span class="black-text">
                           <span style="font-size: 40px">{{facilityPerformance[0].stockedout}} %</span>
                             <p>Of Facilities Stocked Out</p>
                          </span>-->
                    </div>
                    <div class="col l3 s3 m12" style="background-color: yellow">
                        <div class="icon-block">
                             <span class="black-text">
                             <span style="font-size: 40px">{{facilityPerformance[0].understocked}}%</span>
                             <p>Of Facilities Understocked</p>
                          </span>

                        </div>

                    </div>

                    <div class="col  l3 s3 m12" style="background-color: green">
                        <div class="icon-block">
                             <span class="black-text">
                      <span style="font-size: 40px">{{facilityPerformance[0].accordingplan}}%</span>
                             <p class="light">Stocked According To plan</p>
                          </span>

                        </div>

                    </div>
                    <div class="col  l3 s3 m12" style="background-color: #00B0F0;">

                        <div class="icon-block">
                             <span class="black-text">
                        <span style="font-size:40px">{{facilityPerformance[0].overstocked}}%</span>
                             <p class="light">Of Facilities Overstocked</p>
                          </span>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>



<!--
<div class="row">

    <div class="col l12 s12 m12">



</div>
</div>-->
<!--
    <div class="clearfix"></div>
    <div class="clearfix"></div>
<br/>

    <div id="container" style="min-width: 200px; height: 300px; margin: 0 auto"></div>

<div class="clearfix"></div>
<div class="clearfix"></div>
<br/>
<div id="container2" style="height: 800px"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<br/>
<div id="container3" style="height: 800px"></div>-->

<div class="row">
    <div class="col l12 s12 m12">
        <div class="card">
            <div class="card-title"><filter-container>

                <product-without-description-and-syringes-filter class="form-cell horizontalFilters" required="true"></product-without-description-and-syringes-filter>

                <!-- <year-filter class="form-cell horizontalFilters"></year-filter>

                 <period-change-year-filter class="form-cell horizontalFilters"  required="false"></period-change-year-filter>-->
            </filter-container></div>
            <div class="card-content">
                <!--
                                    <h5 class="grey-text center">Pie Chart</h5>
                -->

                <div id="container"></div>
            </div>
        </div>
    </div>
</div>

    <div class="row">


        <div class="col l6 s12 m12">
            <div class="card">
                <div class="card-content">
                    <!--
                                        <h5 class="grey-text center">Product Coverage</h5>
                    -->
                    <div id="container2"></div>
                </div>
            </div>
        </div>


        <div class="col l6 s12 m12">
            <div class="card">
                <div class="card-content">
<!--
                    <h5 class="grey-text center">Product Coverage</h5>
-->
                 <div id="container7"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12 m12">

        <div class="card">
            <div class="card-content">
<!--
                <h5 class="center">Full Stock Availability Percentage</h5>
-->

                <div id="container3"></div>
            </div>
        </div>
            </div>
    </div>

</div>