<div class="modal-header">
  <button  class="close" ng-click="ok()">X</button>
  <h2><i class="flaticon-bar"></i>Stock Status Detail</h2>


</div>
<div   class="modal-body">

  <div style="font-weight: bold" ng-hide="facilityStockStatusDetails" openlmis-message="label.report.no.data.to.show"></div>

  <div class="row-fluid dashlet-scroll-table">
    <table ng-show="facilityStockStatusDetails" id="summary-table" class="table-bordered table">
      <thead style="background-color: red" >
      <tr class="gradient-header" style="background-color: red">
        <th class="modal-table-div">District</th>
        <th class="modal-table-div">Facility</th>
        <th class="modal-table-div"></th>
        <th class="modal-table-div" style="text-align: center" ng-repeat="period in stockstatusPeriodsList">{{period}}</th>
        <th class="modal-table-div" style="text-align: center; background-color: red !important;">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-style="{'background-color': getBackGroundColor($index).bgColor , 'color':getBackGroundColor($index).fColor}"
          ng-repeat="detail in facilityStockStatusDetails" >
        <td ng-show="$first" rowspan="{{facilityStockStatusDetails.length}}">{{detail.district}}</td>
        <td ng-show="$index%3 == 0" rowspan="3">{{detail.facilityName}}</td>
        <td>{{detail.indicator}}</td>
        <td class="number" ng-repeat="value in detail.indicatorValues track by $index">{{value | number:2}}{{detail.indicator === 'coverage' ?'%' : ''}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary modal-ok-btn" ng-click="ok()">OK</button>
</div>
