<div></div>
<style>
    .input-large {
    width: 80px;
    }
</style>
<div class="app-form vaccine-form-filter">
    <form novalidate>
        <div class="clearfix">
            <vaccine-stock-date-filter default="defaultToDate" class="form-cell horizontalFilters"
                                       cm-model="mySupervisedFilter.date"
                                       on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

            </vaccine-stock-date-filter>
                <vaccine-stock-facility-level-filter
                        default="defaultLevel" class="form-cell horizontalFilters"
                        cm-model="mySupervisedFilter.level"
                        on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

                </vaccine-stock-facility-level-filter>

            <vaccine-product-filter style="margin-top:2px" default="defaultProduct" class="form-cell horizontalFilters"
                                        cm-model="mySupervisedFilter.product"
                                        on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

                </vaccine-product-filter>

            <range-pagination style="margin-top:-1px" field-label="label.facility" class="form-cell horizontalFilters"
                              total="mySupervisedFilterTotal" range="mySupervisedFacilityFilterSize"
                              offset="mySupervisedFilter.page" label-all="all facility"
                              on-change="mySupervisedFacilitiesPagination(mySupervisedFilter.page)"></range-pagination>


        </div>
    </form>
</div>

<div ng-show="mySupervisedFacilityStock.dataPoints">
    <c3chart bindto-id="my-supervised-stock"
             chart-data="mySupervisedFacilityStock.dataPoints"
             chart-columns="mySupervisedFacilityStock.dataColumns"
             chart-x="mySupervisedFacilityStock.dataX"
             padding-bottom="10">
        <chart-legend show-legend="false"/>
        <chart-tooltip value-format-function="getSupervisedSOHTooltip" show-tooltip="true"/>
        <chart-colors color-function="getColorSupervised"/>
        <chart-axis>
            <chart-axis-x axis-position="outer-center"
                          axis-label="{{mySupervisedFacilityStock.productCategory}}"
                          axis-type="category">
            </chart-axis-x>
            <chart-axis-y axis-position="outer-middle"
                          axis-label="MOS">
            </chart-axis-y>
        </chart-axis>
    </c3chart>
    <custom-legend data="mySupervisedFacilityStock.legend"></custom-legend>
</div>
<div style="font-weight: bold" ng-hide="mySupervisedFacilityStock.dataPoints"
     openlmis-message="label.report.no.data.to.show"></div>