<div>
    <form ng-submit="filterGrid()" name="filterForm" novalidate>
        <div class="horizontalFilters">
             <div>
                <select id="product" ui-select2 class="input-large" ng-model="filter.product" ng-change="OnFilterChanged();">
                    <option ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
                </select>
             </div>
        </div>

    </form>
</div>