<div class="app-form " style="padding: 5px;">
    <form ng-submit="filterGrid()" name="filterForm" novalidate>
        <div  class="clearfix">
            <!--<program-filter class="form-cell horizontalFilters" required="true"></program-filter>-->
            <static-period-filter range="filterd.range2" startdate="filterd.periodStartDate" enddate="filterd.periodEnddate" rangemax="10" error="perioderror"></static-period-filter>

        </div>
    </form>
</div>

<div>My Stock </div>
<c3chart bindto-id="{{product.name}}_mystock_one_chart">
    <chart-tooltip value-format-function="formatValue" />
    <chart-axes values-x="x" />
    <chart-axis >
        <chart-axis-x axis-position="outer-center" axis-label="Period" axis-height="40"
                      axis-type="category" >
            <!--<chart-axis-x-tick tick-rotate="50" />-->
        </chart-axis-x>
        <chart-axis-y>
            <chart-axis-y-tick tick-format-function="formatValue" />
        </chart-axis-y>
    </chart-axis>

    <chart-column column-id="Consumption"
                  column-values="{{product.consumption}}"
                  column-type="bar"/>
    <chart-column column-id="amc"
                  column-values="{{product.amc}}"
                  column-type="line"/>
    <chart-column column-id="x"
                  column-values="{{product.periods}}"/>
</c3chart>