
<div>Stock Detail</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
             <vaccine-product-filter  class="form-cell horizontalFilters" default="defaultProduct" cm-model="filter.detailStock.product" on-change="facilityStockDetailCallback()"></vaccine-product-filter>
            <static-period-filter default="defaultPeriodTrend" range="filter.detailStock.range" startdate="filter.detailStock.startDate" enddate="filter.detailStock.endDate" rangemax="10" error="perioderror" on-change="facilityStockDetailCallback()" ></static-period-filter>
        </div>
    </form>
</div>
<div style="font-weight: bold" ng-hide="facilityStockDetails" openlmis-message="label.report.no.data.to.show"></div>

<div class="row-fluid dashlet-scroll-table">
<table ng-show="facilityDetails" id="summary-table" class="table-bordered table">
    <thead  >
    <tr class="gradient-header">
        <th>District</th>
        <th>Facility</th>
        <th></th>
        <th style="text-align: center" ng-repeat="period in periodsList">{{period}}</th>
        <th style="text-align: center">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="detail in facilityStockDetails" >
        <td rowspan="detail.facilityCount" >{{detail.district === facilityStockDetails[$index-1].district ?   '' : detail.district}}</td>
        <td ng-show="$index%2 == 0" rowspan="2">{{detail.facilityName}}</td>
        <td>{{detail.indicator}}</td>
        <td class="number" ng-repeat="value in detail.indicatorValues track by $index">{{value | number:0}}</td>

    </tr>
    </tbody>
</table>
</div>