
<div>Session Detail</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
            <!--<static-period-filter default="defaultPeriodTrend" range="filter.detailSessions.range" startdate="filter.detailSessions.startDate" enddate="filter.detailSessions.endDate" rangemax="10" error="perioderror" on-change="sessionDetailCallback()" ></static-period-filter>-->
            <static-year-filter  on-change="sessionDetailCallback()" year="staticYear" startdate="filter.detailSessions.startDate" enddate="filter.detailSessions.endDate" ></static-year-filter>
        </div>
    </form>
</div>
<div style="font-weight: bold" ng-hide="facilitySessionsDetails" openlmis-message="label.report.no.data.to.show"></div>

<div style="overflow:scroll;" class="row-fluid">
<table ng-show="facilitySessionsDetails" id="summary-table" class="table-bordered table">
    <thead  >
    <tr class="gradient-header">
        <th>District</th>
        <th>Facility</th>
        <th></th>
        <th style="text-align: center" ng-repeat="period in sessionsPeriodsList">{{period}}</th>
        <th style="text-align: center">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="detail in facilitySessionsDetails" >
        <td ng-show="$first" rowspan="{{facilitySessionsDetails.length}}">{{detail.district}}</td>
        <td ng-show="$index%2 == 0" rowspan="2">{{detail.facilityName}}</td>
        <td>{{detail.indicator}}</td>
        <td class="number" ng-repeat="value in detail.indicatorValues track by $index">{{value | number:0}}</td>

    </tr>
    </tbody>
</table>
</div>