
<div>Dropout By District</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
            <vaccine-dropout-filter defaultselction="defaultProduct"  class="form-cell horizontalFilters" filterproduct="filter.districtDropout.product" on-change="districtDropoutCallback()"></vaccine-dropout-filter>

            <vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.districtDropout.period"  class="form-cell horizontalFilters" on-change="districtDropoutCallback()"></vaccine-monthly-period-tree-filter>
        </div>
    </form>
</div>
<c3chart  bindto-id="district_dropout_chart" chart-data="districtDropout.dataPoints" chart-columns="districtDropout.dataColumns" chart-x="districtDropout.dataX" ng-show="districtDropout.dataPoints">
    <chart-axes   y2="bcg_mr_dropout"/>
    <chart-axis>

        <chart-tooltip value-format-function="formatValue" />
        <chart-axis-x axis-position="outer-center"
                      axis-label="{{label.zone}}"
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
        <chart-axis-y axis-id="y2"
                      axis-position="outer-right"
                      padding-top="10"
                      padding-bottom="0"
                      range-max="100"
                      range-min="0"
                />
    </chart-axis>
</c3chart>
<div style="font-weight: bold" ng-hide="districtDropout.dataPoints" openlmis-message="label.report.no.data.to.show"></div>
