
<div>Sessions By District</div>
<div class="app-form vaccine-form-filter">
    <form  name="districtSessionForm" novalidate>
        <div  class="clearfix">
            <vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.districtSessions.period"  class="form-cell horizontalFilters" on-change="districtSessionsCallback()"></vaccine-monthly-period-tree-filter>
        </div>
    </form>
</div>
<c3chart  bindto-id="district_sessions_chart" chart-data="districtSessions.dataPoints" chart-columns="districtSessions.dataColumns" chart-x="districtSessions.dataX" ng-show="districtSessions.dataPoints">
    <chart-axis>
        <chart-axis-x axis-position="outer-center"
                      axis-label="zone"
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
    </chart-axis>
</c3chart>
<div style="font-weight: bold" ng-hide="districtSessions.dataPoints" openlmis-message="label.report.no.data.to.show"></div>