
<slide>


    <div>Bundling</div>
            <c3chart bindto-id="{{product.name}}_bundling_three_chart">
                <chart-tooltip value-format-function="formatValue" />
                <chart-axes values-x="x" />
                <chart-axis >
                    <chart-axis-x axis-position="outer-center" axis-label="Period" axis-height="40"
                                  axis-type="category" >
                        <!--<chart-axis-x-tick tick-rotate="50" />-->
                    </chart-axis-x>
                    <chart-axis-y>
                        <chart-axis-y-tick tick-format-function="formatValue" />
                    </chart-axis-y>
                </chart-axis>

                <chart-column column-id="Consumption"
                              column-values="{{product.consumption}}"
                              column-type="bar"/>
                <chart-column column-id="amc"
                              column-values="{{product.amc}}"
                              column-type="line"/>
                <chart-column column-id="x"
                              column-values="{{product.periods}}"/>
            </c3chart>
</slide>
