

<div class="app-form vaccine-form-filter">
    <form  name="districtSessionForm" novalidate>
        <div  class="clearfix">
            <range-pagination field-label="label.district"  class="form-cell horizontalFilters" total="filter.districtSessions" range="filter.districtRange" offset="filter.districtSessionsOffset" label-all="all districts" on-change="districtSessionsPagination()"></range-pagination>
            <!--<vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.districtSessions.period"  class="form-cell horizontalFilters" on-change="districtSessionsCallback()"></vaccine-monthly-period-tree-filter>-->
        </div>
    </form>
</div>
<div style="height:8px;" >&nbsp;</div>
<c3chart  bindto-id="district_sessions_chart" chart-data="districtSessions.dataPoints" chart-columns="districtSessions.dataColumns" chart-x="districtSessions.dataX" ng-show="districtSessions.dataPoints">
    <chart-axis>
        <chart-axis-x axis-position="outer-center"
                      axis-label=""
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
    </chart-axis>
    <chart-group group-values="outreach_sessions,fixed_sessions"/>
</c3chart>
<div style="font-weight: bold" ng-hide="districtSessions.dataPoints" openlmis-message="label.report.no.data.to.show"></div>
