
<div>Wastage By Facility</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
            <vaccine-product-filter default="defaultProduct" class="form-cell horizontalFilters" default="defaultProduct"  cm-model="filter.facilityWastage.product" on-change="facilityWastageCallback()"></vaccine-product-filter>
            <vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.facilityWastage.period"  class="form-cell horizontalFilters" on-change="facilityWastageCallback()"></vaccine-monthly-period-tree-filter>
            <range-pagination field-label="label.facility"  class="form-cell horizontalFilters" total="filter.totalfacilityWastage" range="filter.facilityWastageRange" offset="filter.facilityWastageOffset" label-all="all facility" on-change="facilityWastagePagination()"></range-pagination>
        </div>
    </form>
</div>
<c3chart  bindto-id="facility_wastage_chart" chart-data="facilityWastage.dataPoints" chart-columns="facilityWastage.dataColumns" chart-x="facilityWastage.dataX" ng-show="facilityWastage.dataPoints">
    <chart-axis>

        <chart-tooltip value-format-function="formatValue" />
        <chart-axis-x axis-position="outer-center"
                      axis-label="{{label.facility}}"
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
    </chart-axis>
</c3chart>
<div style="font-weight: bold" ng-hide="facilityWastage.dataPoints" openlmis-message="label.report.no.data.to.show"></div>