
<div>Coverage By Facility</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
            <vaccine-product-filter default="defaultProduct" class="form-cell horizontalFilters" default="defaultProduct"  cm-model="filter.facilityCoverage.product" on-change="facilityCoverageCallback()"></vaccine-product-filter>
            <vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.facilityCoverage.period"  class="form-cell horizontalFilters" on-change="facilityCoverageCallback()"></vaccine-monthly-period-tree-filter>
            <range-pagination field-label="label.facility"  class="form-cell horizontalFilters" total="filter.totalFacilityCoverage" range="filter.facilityCoverageRange" offset="filter.facilityCoverageOffset" label-all="all facility" on-change="facilityCoveragePagination()"></range-pagination>
        </div>
    </form>
</div>

<c3chart  bindto-id="facility_coverage_chart" chart-data="facilityCoverage.dataPoints" chart-columns="facilityCoverage.dataColumns" chart-x="facilityCoverage.dataX" ng-show="facilityCoverage.dataPoints">
    <chart-axes   y2="coverage"/>
    <chart-axis>

        <chart-tooltip value-format-function="formatValue" />
        <chart-axis-x axis-position="outer-center"
                      axis-label="{{label.facility}}"
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
        <chart-axis-y axis-id="y2"
                      axis-position="outer-right"
                      padding-top="10"
                      padding-bottom="0"
                    />
    </chart-axis>
</c3chart>
<div style="font-weight: bold" ng-hide="facilityCoverage.dataPoints" openlmis-message="label.report.no.data.to.show"></div>