
<div>Coverage By District</div>
<div class="app-form vaccine-form-filter">
    <form  novalidate>
        <div  class="clearfix">
            <vaccine-product-filter default="defaultProduct" class="form-cell horizontalFilters" default="defaultProduct"  cm-model="filter.districtCoverage.product" on-change="districtCoverageCallback()"></vaccine-product-filter>
            <vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.districtCoverage.period"  class="form-cell horizontalFilters" on-change="districtCoverageCallback()"></vaccine-monthly-period-tree-filter>
        </div>
    </form>
</div>
<c3chart  bindto-id="district_coverage_chart" chart-data="districtCoverage.dataPoints" chart-columns="districtCoverage.dataColumns" chart-x="districtCoverage.dataX" ng-show="districtCoverage.dataPoints">
    <chart-axes y2="coverage"/>
    <chart-axis>

        <chart-tooltip value-format-function="formatValue" />
        <chart-axis-x axis-position="outer-center"
                      axis-label="{{label.zone}}"
                      axis-type="category">
            <!--<chart-axis-x-tick tick-rotate="50"/>-->
        </chart-axis-x>
        <chart-axis-y axis-id="y2"
                      axis-position="outer-right"
                      padding-top="10"
                      padding-bottom="0"
                      range-max="100"
                      range-min="0"
                />
    </chart-axis>
</c3chart>
<div style="font-weight: bold" ng-hide="districtCoverage.dataPoints" openlmis-message="label.report.no.data.to.show"></div>