<div>

<filter-container>

    <product-without-description-and-syringes-filter class="form-cell horizontalFilters" required="true"></product-without-description-and-syringes-filter>

   <!-- <year-filter class="form-cell horizontalFilters"></year-filter>

    <period-change-year-filter class="form-cell horizontalFilters"  required="false"></period-change-year-filter>-->
</filter-container>
</div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
<br/>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
